<div class="row news ">
  <% @news.each do |news| %>
    <div class="col-md-3 blog_box">
      <a href="#" class="mask">
        <img src="<%= news.img %>" alt="image" class="img-responsive zoom-img" />
      </a>
      <h3><%= link_to news.title, news %></h3>
      <div class="links">
        <ul>
          <li><span>
               <%=Date.parse news.time %>
          </span></li>
          <li><span>news id: <%= news.id %></span></li>
        </ul>
      </div>
      <%#= link_to news, class: "btn1 btn-8 btn-8c" do %>
<!--        Смотреть-->
      <%# end %>
    </div>
  <% end %>
</div>
