<!DOCTYPE html>
<html>

<body>


<div class="container">
  <div class="logo">
    <h1>Новости сайта 4pda.ru</h1>
  </div>
  <br>
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <%= form_tag news_index_path, :method => 'get', :id => "news_search", :class => "form-group" do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: 'form-control', :placeholder => "Введите заголовок статьи" %>
        </div>
        <%#= submit_tag "Поиск", :title => nil, :class => "btn btn-default" %>
      <% end %>

    </div><!-- /.container-fluid -->
  </nav>


</div>

<div class="container">
  <div class="text-center">
    <%= button_to 'Обновить', news_parsing_path, method: :post, :class => "btn btn-default" %>

    <%= will_paginate(@news, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

  </div>



  <div id="news"><%= render 'news/news' %></div>

  <div class="text-center">
    <%= will_paginate(@news, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

  </div>
</div>
</body>
</html>