<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Description, Keywords and Author -->
  <meta name="description" content="Your description">
  <meta name="keywords" content="Your,Keywords">
  <meta name="author" content="ResponsiveWebInc">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>


<!-- UI # -->
<div class="ui-198 clearfix">

  <!-- Screenshot -->
  <div class="shot">
    <a href="#"><img src="<%= @news.img %>" alt="" class="img-responsive"/></a>
  </div>

  <!-- Details -->
  <div class="details">

    <!-- Head -->
    <div class="head clearfix">
      <div class="heading">
        <h2><%= @news.title.upcase %></h2>
        <h3><%= @news.time %></h3>
      </div>
    </div>

    <!-- Content -->
    <p><%= @micropost.content %></p>

    <!-- Button -->
    <div class="button">
      <p>Оригинал статьи:
        <a href="<%= @micropost.url %>"><%= @micropost.url %></a>
      </p>
    </div>

    <!-- Contact -->
    <div class="contact">
      <%= link_to 'Назад', news_index_path %>
    </div>

  </div>

</div>

</body>
</html>