@import "bootstrap-sprockets";
@import "bootstrap";


.logo h1 {
  text-align: center;
  font: 300 45px/25px Roboto, sans-serif;
}

.title{
  font: 300 45px/45px Roboto, sans-serif;
}

.content{
  font: 300 16px/25px Roboto, sans-serif;
}

.url a{
  font: 300 16px/25px Roboto, sans-serif;
  color: #f22232;
}

.blog_box {
  height: auto;

}

@media (min-width: 992px) {
  .blog_box {

    height: 29em;
  }
}

@media (min-width: 859px) {

}

.blog_box h3 {
  font: 300 20px/25px Roboto, sans-serif;
  text-transform: uppercase;
  margin-top: 1em;
}

.blog_box p {
  font: 300 16px/25px Roboto, sans-serif;
  color: #999;
  line-height: 1.8em;
  margin-bottom: 2em;
}


.links ul {
  padding: 0;
  list-style: none;
}

.links li {
  padding: 0;
  list-style: none;
}

.links ul li {
  display: inline-block;
  margin-right: 20px;
  font: 300 16px/25px Roboto, sans-serif;

}


.form-group {
  margin: 15px !important;
}


img.zoom-img:hover {
  -webkit-transform: scale(1.15);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
img.zoom-img {
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
