/************************
Designed by : http://responsivewebinc.com
************************/

h1 {
  font-size: 30px;
  line-height: 45px;
}
h2 {
  font-size: 25px;
  line-height: 40px;
}
h3 {
  font-size: 22px;
  line-height: 37px;
}
h4 {
  font-size: 18px;
  line-height: 33px;
}
h5 {
  font-size: 15px;
  line-height: 30px;
}
h6 {
  font-size: 13px;
  line-height: 28px;
}
p {
  margin: 2px 0px;
  padding: 0px;
  margin-bottom:5px;
  line-height:28px;
}
a{
  text-decoration: none;
  color: #777;
}
a:hover,a:active,a:focus {
  outline: 0;
  text-decoration: none;
  color: #999;
}
hr {
  margin: 10px 0px;
  padding: 0px;
  border-top: 0px;
  border-bottom: 1px solid #eee;
}
:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}

/* Label */
.label {
  border-radius: 2px;
  font-weight: normal;
  padding: 3px 7px;
  font-size: 12px;
  line-height: 18px;
}
/* Label sizes */
.label.label-xs {
  font-size: 10px;
  padding: 1px 5px;
  line-height: 12px;
}
.label.label-sm {
  font-size: 11px;
  padding: 2px 6px;
  line-height: 15px;
}
.label.label-lg {
  font-size: 13px;
  padding: 5px 9px;
  line-height: 23px;
}


/* Badges */
.badge {
  min-width: 10px;
  padding: 3px 7px !important;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  display: inline-block;
  color: #fff;
  border-radius: 10px;
}

.btn .badge {
  position: absolute;
  top: -13px;
  right: -8px;
}


/* UI X */
body{
  background:#f4f8fd;
}
.ui-198{
  max-width:800px;
  margin:50px auto;
  padding:30px;
  border:1px solid #e7e7e7;
  border-radius:8px;
  box-shadow:2px 2px 0px 1px rgba(0,0,0,0.07);
  background:#fff;
  position:relative;
}
@media(max-width:800px){
  .ui-198{
    margin:50px 10px;
  }
}
.ui-198 .shot{
  width:270px;
  float:left;
  position:absolute;
}
.ui-198 .shot img{
  max-height:350px;
  margin:0px auto;
}
.ui-198 .details{
  margin-left:290px;
}
@media (max-width:700px){
  .ui-198 .shot{
    width:200px;
  }
  .ui-198 .details{
    margin-left:220px;
  }
}
@media (max-width:550px){
  .ui-198 .shot{
    width:100%;
    float:none;
    position:static;
    margin-bottom:30px;
  }
  .ui-198 .details{
    margin-left:0px;
  }
}
.ui-198 .head .icon{
  width:75px;
  float:left;
}
.ui-198 .head .icon a i{
  display:block;
  width:60px;
  height:60px;
  text-align:center;
  line-height:60px;
  border-radius:4px;
  color:#fff;
  font-size:24px;
}

.ui-198 .head .heading h2{
  font-size:20px;
  line-height:30px;
  margin:0px;
}
.ui-198 .head .heading h3{
  font-size:14px;
  line-height:24px;
  font-weight:400;
  color:#888;
}
.ui-198 .details p{
  font-size:14px;

  color:#888;
}
.ui-198 .button{
  font-size:16px;
  line-height:30px;
  margin:10px 0px;
}
.ui-198 .button i{
  margin-right:5px;
}
.ui-198 .contact{
  font-size:16px;
  line-height:30px;
  margin:10px 0px 0px 0px;
}
.ui-198 .contact i{
  margin-right:5px;
}
@media (max-width:550px){
  .ui-198 .details{
    text-align:center;
  }
  .ui-198 .head .icon{
    float:none;
    width:100%;
  }
  .ui-198 .head .icon i{
    margin:0px auto;
    margin-bottom:20px;
  }
  .ui-198 .head .heading{
    margin-left:0px;
  }
}